@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=cyrillic");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #4B79A1;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  cursor: default; }

.u-container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto; }

.u-mt-sm {
  margin-top: 2rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.main-nav {
  background-color: #F7F7F7;
  height: 16rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  position: relative; }
  @media only screen and (max-width: 60em) {
    .main-nav {
      height: 8rem; } }
  .main-nav__open-btn {
    display: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 1rem;
    left: 2rem; }
    @media only screen and (max-width: 41.25em) {
      .main-nav__open-btn {
        display: block; } }
  .main-nav__open-icon {
    width: 100%;
    height: 100%;
    fill: #4B79A1; }

.nav-list {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 41.25em) {
    .nav-list {
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      background-color: #F7F7F7;
      transition: left 0.7s cubic-bezier(0.23, 1, 0.32, 1);
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 6rem 2rem 6rem 8rem; }
      .nav-list--open {
        left: 0; } }
  .nav-list__close-btn {
    display: none;
    position: absolute;
    top: 1.6rem;
    right: 2rem; }
    @media only screen and (max-width: 41.25em) {
      .nav-list__close-btn {
        display: block; } }
  .nav-list__close-icon {
    width: 6rem;
    height: 6rem;
    fill: #4B79A1; }
  .nav-list__item {
    flex: 0 0 22rem; }
    .nav-list__item:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 60em) {
        .nav-list__item:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 60em) {
      .nav-list__item {
        flex: 1; } }
    @media only screen and (max-width: 41.25em) {
      .nav-list__item {
        flex: 0 0 auto;
        padding: 2rem 0; } }
  .nav-list__btn {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    transition: background-color .2s ease; }
    .nav-list__btn:hover {
      background-color: #eaeaea; }
    .nav-list__btn:active {
      background-color: #efefef; }
    @media only screen and (max-width: 60em) {
      .nav-list__btn {
        flex-flow: row nowrap;
        justify-content: center; } }
  .nav-list__icon {
    margin-top: 3rem;
    width: 5.8rem;
    height: 5.8rem;
    fill: #4B79A1; }
    @media only screen and (max-width: 60em) {
      .nav-list__icon {
        margin-top: 0;
        margin-right: 1.2rem;
        width: 4rem;
        height: 4rem; } }
    @media only screen and (max-width: 41.25em) {
      .nav-list__icon {
        margin-right: 2rem; } }
  .nav-list__text {
    font-size: 2rem;
    font-weight: 400;
    color: #6E7173;
    margin-top: 1.6rem; }
    @media only screen and (max-width: 60em) {
      .nav-list__text {
        margin-top: 0; } }

.main-content {
  height: calc(100vh - 16rem);
  background-image: linear-gradient(to right bottom, #4B79A1, #283E51);
  overflow-y: scroll; }
  @media only screen and (max-width: 60em) {
    .main-content {
      height: calc(100vh - 8rem); } }

.controls {
  margin-top: 3rem;
  display: flex;
  align-items: center; }
  .controls__form {
    margin-right: auto; }
  @media only screen and (max-width: 30em) {
    .controls {
      flex-flow: column nowrap; }
      .controls__form {
        margin-right: 0;
        margin-bottom: 1.4rem; } }

.search-form {
  width: 36rem;
  position: relative; }
  @media only screen and (max-width: 30em) {
    .search-form {
      width: 95%; } }
  .search-form__input {
    width: 100%;
    height: 4rem;
    padding-left: 3rem;
    padding-right: 5rem;
    border: none;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    font-size: 1.8rem;
    transition: background-color .2s ease; }
    .search-form__input:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.9); }
  .search-form__icon {
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    margin-top: -1.5rem;
    fill: #4B79A1; }

.filter {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 30em) {
    .filter {
      align-self: flex-end;
      margin-right: 1rem; } }
  .filter__text {
    font-size: 2.4rem;
    color: #fff;
    margin-right: 2rem; }
  .filter__icon-box {
    display: flex; }
  .filter__icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: #fff;
    cursor: pointer;
    transition: fill .2s ease; }
    @media only screen and (max-width: 30em) {
      .filter__icon {
        width: 4rem;
        height: 4rem; } }
    .filter__icon--done:hover, .filter__icon--done-active {
      fill: #6CBA78; }
    .filter__icon--not-done:hover, .filter__icon--not-done-active {
      fill: #DF4E4E; }
    .filter__icon--refresh:hover {
      fill: #4B79A1; }
    .filter__icon:not(:last-child) {
      margin-right: .8rem; }

.section--invisible {
  display: none; }

.section__title {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem; }
  .section__title::before {
    content: '';
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 30em) {
      .section__title::before {
        margin-left: 1rem; } }
  .section__title--notes::before {
    background-image: url("../img/icon-notes--white.svg"); }
  .section__title--tasks::before {
    background-image: url("../img/icon-tasks--white.svg"); }
  .section__title--reminders::before {
    background-image: url("../img/icon-reminders--white.svg"); }
  .section__title--search::before {
    background-image: url("../img/icon-search--white.svg"); }

.search-feedback {
  font-size: 2.4rem;
  color: #fff;
  margin-left: 6rem; }
  @media only screen and (max-width: 41.25em) {
    .search-feedback {
      margin-left: 7rem; } }

.items-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap; }
  @media only screen and (max-width: 30em) {
    .items-list {
      justify-content: center; } }
  .items-list__item {
    flex: 0 0 36rem;
    background-color: #fff;
    margin-bottom: 2rem; }
    .items-list__item:not(:nth-child(3n)) {
      margin-right: 4.5rem; }
      @media only screen and (max-width: 60em) {
        .items-list__item:not(:nth-child(3n)) {
          margin-right: 0; } }
    @media only screen and (max-width: 60em) {
      .items-list__item {
        flex: 0 0 49%; }
        .items-list__item:not(:nth-child(2n)) {
          margin-right: 2%; } }
    @media only screen and (max-width: 30em) {
      .items-list__item {
        flex: 0 0 95%;
        margin-bottom: 2.5rem; }
        .items-list__item:not(:nth-child(2n)) {
          margin-right: 0; } }

.item {
  padding: 2.4rem 3.6rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  position: relative;
  height: 100%; }
  .item--task-done {
    background-image: linear-gradient(to bottom, #fff, #fff 95%, #6CBA78); }
  .item--task-not-done {
    background-image: linear-gradient(to bottom, #fff, #fff 95%, rgba(223, 78, 78, 0.8)); }
  .item__category {
    font-size: 2rem;
    font-weight: 400;
    color: #6E7173;
    margin-bottom: 2rem; }
  .item__icon-box {
    position: absolute;
    top: 1.6rem;
    right: 2.6rem; }
  .item__icon-box:hover .item__controls {
    opacity: 1;
    visibility: visible; }
  .item__icon {
    width: 4rem;
    height: 4rem;
    fill: #6E7173; }
  .item__controls {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
    width: 15rem;
    height: 4rem;
    background-color: #283E51;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: -15.5rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.5rem; }
    .item__controls--note, .item__controls--reminder {
      width: 9rem;
      left: -9.5rem; }
    .item__controls::before {
      content: '';
      width: 2rem;
      height: 2rem;
      background-color: #283E51;
      position: absolute;
      right: -.2rem;
      z-index: -10;
      transform: rotate(-45deg); }
    .item__controls-icon {
      width: 2.4rem;
      height: 2.4rem;
      fill: #fff;
      cursor: pointer;
      transition: fill .2s ease; }
      .item__controls-icon--done:hover {
        fill: #6CBA78; }
      .item__controls-icon--not-done:hover {
        fill: #4B79A1; }
      .item__controls-icon--edit:hover {
        fill: #f39d12; }
      .item__controls-icon--remove:hover {
        fill: #6E7173; }
  .item__body {
    font-weight: 400; }
  .item__title {
    font-size: 1.8rem;
    color: #4B79A1;
    margin-bottom: 1.4rem; }
  .item__text {
    font-size: 1.6rem;
    color: #000;
    line-height: 1.5; }

.item-reminder__category {
  display: inline-block;
  margin-right: 1.2rem; }

.item-reminder__date {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700; }
  .item-reminder__date--in {
    color: #6CBA78; }
  .item-reminder__date--off {
    color: #DF4E4E; }

.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal--open {
    opacity: 1;
    visibility: visible; }
  .modal__window {
    width: 72rem;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5rem);
    transition: opacity .4s ease, transform .4s ease; }
    @media only screen and (max-width: 60em) {
      .modal__window {
        width: 90%; } }
    .modal__window--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); }
  .modal__close-icon {
    position: absolute;
    top: 1.6rem;
    right: 2.4rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: fill .2s ease; }
    .modal__close-icon:hover {
      fill: #4B79A1; }

.form {
  padding: 3rem 12rem;
  color: #000; }
  @media only screen and (max-width: 41.25em) {
    .form {
      padding: 2rem 4rem; } }
  .form__title {
    font-size: 3rem;
    font-weight: 300;
    text-align: center; }
  .form__group {
    text-align: center; }
    .form__group:first-of-type {
      margin-top: 2.6rem; }
    .form__group:not(:last-child) {
      margin-bottom: 2rem; }
    .form__group--radio {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
    .form__group--invisible {
      display: none; }
  .form__select, .form__input, .form__textarea, .form__date {
    display: block;
    width: 100%;
    height: 6rem;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-family: inherit;
    font-size: 1.8rem;
    text-align-last: center;
    transition: background-color .2s ease; }
    .form__select:focus, .form__input:focus, .form__textarea:focus, .form__date:focus {
      outline: none;
      background-color: #e4e4e4; }
  .form__invalid + .form__invalid-feedback {
    display: block; }
  .form__invalid-feedback {
    display: none;
    font-size: 1.4rem;
    color: #DF4E4E;
    margin-top: .4rem; }
  .form__select {
    -moz-appearance: none;
    -webkit-appearance: none; }
  .form__label {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-bottom: 1.8rem; }
  .form__input {
    text-align-last: initial;
    text-align: center; }
  .form__textarea {
    height: 12rem;
    resize: none;
    padding: 2.4rem 3rem;
    text-align-last: initial;
    text-align: left;
    line-height: 1.4; }
  .form__radio-box {
    display: flex;
    align-items: center; }
  .form__radio-btn {
    display: none; }
  .form__radio-btn:checked + .form__radio-label::after {
    opacity: 1; }
  .form__radio-label {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    position: relative;
    margin-right: 2.4rem;
    cursor: pointer; }
    .form__radio-label::before {
      content: '';
      width: 3.2rem;
      height: 3.2rem;
      border: 3px solid #4B79A1;
      border-radius: 50%;
      margin-right: .8rem; }
    .form__radio-label::after {
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      background-color: #4B79A1;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 1rem;
      margin-top: -.8rem;
      margin-left: -.2rem;
      opacity: 0;
      transition: opacity .2s ease; }
  .form__date {
    text-align: center; }
    .form__date:focus::placeholder {
      color: transparent; }
  .form__submit-btn {
    display: inline-block;
    padding: 1.2rem 6rem;
    border: none;
    border-radius: 5px;
    background-color: #4B79A1;
    font-family: inherit;
    font-size: 2rem;
    color: #fff;
    transition: background-color .2s ease;
    cursor: pointer; }
    .form__submit-btn:hover {
      background-color: #436c90; }
    .form__submit-btn[disabled] {
      background-color: #283E51;
      cursor: not-allowed; }
