@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $color-blue-primary;
    text-rendering: optimizeLegibility;

    box-sizing: border-box;
    cursor: default;
}
