@import 'variables';
@import 'base';
@import 'utilities';

// Navigation
.main-nav {
    background-color: $color-grey-1;
    height: 16rem;

    box-shadow: 0 1rem 1rem rgba(#000, .1);
    position: relative;

    @media only screen and (max-width: $bp-md) {
        height: 8rem;
    }

    &__open-btn {
        display: none;

        border: none;
        border-radius: 0;
        background-color: transparent;

        width: 6rem;
        height: 6rem;

        position: absolute;
        top: 1rem;
        left: 2rem;

        @media only screen and (max-width: $bp-sm) { display: block; }
    }

    &__open-icon {
        width: 100%;
        height: 100%;

        fill: $color-blue-primary;
    }
}

.nav-list {
    list-style: none;
    height: 100%;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-sm) {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10;

        width: 100vw;
        height: 100vh;

        background-color: $color-grey-1;
        transition: left .7s cubic-bezier(0.23, 1, 0.32, 1);

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        padding: 6rem 2rem 6rem 8rem;

        &--open {
            left: 0;
        }
    }

    &__close-btn {
        display: none;

        position: absolute;
        top: 1.6rem;
        right: 2rem;

        @media only screen and (max-width: $bp-sm) {
            display: block;
        }
    }

    &__close-icon {
        width: 6rem;
        height: 6rem;

        fill: $color-blue-primary;
    }

    &__item {
        flex: 0 0 22rem;

        &:not(:last-child) {
            margin-right: 2rem;

            @media only screen and (max-width: $bp-md) {
                margin-right: 0;
            }
        }

        @media only screen and (max-width: $bp-md) {
            flex: 1;
        }

        @media only screen and (max-width: $bp-sm) {
            flex: 0 0 auto;
            padding: 2rem 0;
        }
    }

    &__btn {
        width: 100%;
        height: 100%;

        border: none;
        border-radius: 0;
        background-color: transparent;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        font-family: inherit;
        cursor: pointer;
        outline: none;
        transition: background-color .2s ease;

        &:hover {
            background-color: darken($color-grey-1, 5%);
        }

        &:active {
            background-color: darken($color-grey-1, 3%);
        }

        @media only screen and (max-width: $bp-md) {
            flex-flow: row nowrap;
            justify-content: center;
        }
    }

    &__icon {
        margin-top: 3rem;
        width: 5.8rem;
        height: 5.8rem;

        fill: $color-blue-primary;

        @media only screen and (max-width: $bp-md) {
            margin-top: 0;
            margin-right: 1.2rem;

            width: 4rem;
            height: 4rem;
        }

        @media only screen and (max-width: $bp-sm) {
            margin-right: 2rem;
        }
    }

    &__text {
        font-size: 2rem;
        font-weight: 400;
        color: $color-grey-dark;

        margin-top: 1.6rem;

        @media only screen and (max-width: $bp-md) {
            margin-top: 0;
        }
    }
}

// Main content
.main-content {
    height: calc(100vh - 16rem);
    background-image: linear-gradient(to right bottom, $color-blue-primary, $color-blue-dark);
    overflow-y: scroll;

    @media only screen and (max-width: $bp-md) {
        height: calc(100vh - 8rem);
    }
}

// Controls
.controls {
    margin-top: 3rem;

    display: flex;
    align-items: center;

    &__form {
        margin-right: auto;
    }

    @media only screen and (max-width: $bp-mobile) {
        flex-flow: column nowrap;

        &__form { 
            margin-right: 0;
            margin-bottom: 1.4rem;
        }
    }
}

// Search form
.search-form {
    width: 36rem;
    position: relative;

    @media only screen and (max-width: $bp-mobile) {
        width: 95%;
    }

    &__input {
        width: 100%;
        height: 4rem;
        padding-left: 3rem;
        padding-right: 5rem;

        border: none;
        border-radius: 100px;
        background-color: rgba(#fff, .7);

        font-family: inherit;
        font-size: 1.8rem;
        transition: background-color .2s ease;

        &:focus {
            outline: none;
            background-color: rgba(#fff, .9);
        }
    }

    &__icon {
        width: 2.8rem;
        height: 2.8rem;

        position: absolute;
        top: 50%;
        right: 1.6rem;
        margin-top: -1.5rem;

        fill: $color-blue-primary;
    }
}

// Filter
.filter {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-mobile) {
        align-self: flex-end;
        margin-right: 1rem;
    }

    &__text {
        font-size: 2.4rem;
        color: #fff;
        margin-right: 2rem;
    }

    &__icon-box {
        display: flex;
    }

    &__icon {
        width: 3.2rem;
        height: 3.2rem;
        fill: #fff;

        cursor: pointer;
        transition: fill .2s ease;

        @media only screen and (max-width: $bp-mobile) {
            width: 4rem;
            height: 4rem;
        }

        &--done:hover {
            fill: $color-green;
        }

        &--not-done:hover {
            fill: $color-red;
        }

        &:not(:last-child) {
            margin-right: .8rem;
        }
    }
}

// Section notes
.section {
    &--invisible {
        display: none;
    }
    
    &__title {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;

        display: flex;
        align-items: center;

        margin-bottom: 2.4rem;

        &::before {
            content: '';
            width: 3.6rem;
            height: 3.6rem;

            margin-right: 2.4rem;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media only screen and (max-width: $bp-mobile) {
                margin-left: 1rem;
            }
        }

        &--notes::before {
            background-image: url('../img/icon-notes--white.svg');
        }

        &--tasks::before {
            background-image: url('../img/icon-tasks--white.svg');
        }

        &--reminders::before {
            background-image: url('../img/icon-reminders--white.svg');
        }
    }
}

// Items list
.items-list {
    list-style: none;

    display: flex;
    flex-flow: row wrap;

    @media only screen and (max-width: $bp-mobile) {
        justify-content: center;
    }

    &__item {
        flex: 0 0 36rem;
        background-color: #fff;
        margin-bottom: 2rem;

        &:not(:nth-child(3n)) {
            margin-right: 4.5rem;

            @media only screen and (max-width: $bp-md) {
                margin-right: 0;
            }
        }

        @media only screen and (max-width: $bp-md) {
            flex: 0 0 49%;

            &:not(:nth-child(2n)) { margin-right: 2%; }
        }

        @media only screen and (max-width: $bp-mobile) {
            flex: 0 0 95%;
            margin-bottom: 2.5rem;

            &:not(:nth-child(2n)) { margin-right: 0; }
        }
    }
}

// Notes, task item
.item {
    padding: 2.4rem 3.6rem;
    box-shadow: 0 2rem 4rem rgba(#000, .15);
    position: relative;
    height: 100%;

    &--task-done {
        background-image: linear-gradient(to bottom, #fff, #fff 95%, $color-green);
    }

    &--task-not-done {
        background-image: linear-gradient(to bottom, #fff, #fff 95%, rgba($color-red, .8));
    }

    &__category {
        font-size: 2rem;
        font-weight: 400;
        color: $color-grey-dark;

        margin-bottom: 2rem;
    }

    &__icon-box {
        position: absolute;
        top: 1.6rem;
        right: 2.6rem;
    }

    &__icon-box:hover &__controls {
        opacity: 1;
        visibility: visible;
    }

    &__icon {
        width: 4rem;
        height: 4rem;

        fill: $color-grey-dark;
    }

    &__controls {
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease;

        width: 15rem;
        height: 4rem;
        background-color: $color-blue-dark;
        box-shadow: 0 2rem 4rem rgba(#000, .1);

        position: absolute;
        top: 0;
        left: -15.5rem;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 1.5rem;

        &--note,
        &--reminder {
            width: 9rem;
            left: -9.5rem;
        }

        &::before {
            content: '';

            width: 2rem;
            height: 2rem;
            background-color: $color-blue-dark;

            position: absolute;
            right: -.2rem;
            z-index: -10;
            
            transform: rotate(-45deg);
        }

        &-icon {
            width: 2.4rem;
            height: 2.4rem;

            fill: #fff;
            cursor: pointer;
            transition: fill .2s ease;

            &--done:hover {
                fill: $color-green;
            }

            &--not-done:hover {
                fill: $color-blue-primary;
            }

            &--edit:hover {
                fill: #f39d12;
            }

            &--remove:hover {
                fill: $color-grey-dark;
            }
        }
    }

    &__body {
        font-weight: 400;
    }

    &__title {
        font-size: 1.8rem;
        color: $color-blue-primary;

        margin-bottom: 1.4rem;
    }

    &__text {
        font-size: 1.6rem;
        color: #000;
        line-height: 1.5;
    }
}

.item-reminder {
    &__category {
        display: inline-block;
        margin-right: 1.2rem;
    }

    &__date {
        display: inline-block;

        font-size: 1.6rem;
        font-weight: 700;

        &--in {
            color: $color-green;
        }

        &--off {
            color: $color-red;
        }
    }
}

// Modal
.modal {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(#000, .3);

    display: flex;
    align-items: center;
    justify-content: center;

    &--open {
        opacity: 1;
        visibility: visible;
    }

    &__window {
        width: 72rem;

        background-color: #fff;
        border-radius: 5px;

        position: relative;

        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);

        transition: opacity .4s ease,
                    transform .4s ease;
        
        @media only screen and (max-width: $bp-md) {
            width: 90%;
        }

        &--open {
            opacity: 1;
            visibility: visible;

            transform: translateY(0);
        }
    }

    &__close-icon {
        position: absolute;
        top: 1.6rem;
        right: 2.4rem;

        width: 4rem;
        height: 4rem;

        cursor: pointer;
        transition: fill .2s ease;

        &:hover {
            fill: $color-blue-primary;
        }
    }
}

// Form inside modal
.form {
    padding: 3rem 12rem;
    color: #000;

    @media only screen and (max-width: $bp-sm) {
        padding: 2rem 4rem;
    }

    &__title {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
    }

    &__group {
        text-align: center;

        &:first-of-type {
            margin-top: 2.6rem;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--radio {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        &--invisible {
            display: none;
        }
    }

    &__select,
    &__input,
    &__textarea,
    &__date {
        display: block;
        width: 100%;
        height: 6rem;

        border: none;
        border-radius: 5px;
        background-color: $color-grey-2;

        font-family: inherit;
        font-size: 1.8rem;
        text-align-last: center;

        transition: background-color .2s ease;

        &:focus {
            outline: none;
            background-color: darken($color-grey-2, 5%);
        }
    }

    &__invalid + &__invalid-feedback {
        display: block;
    }

    &__invalid-feedback {
        display: none;
        font-size: 1.4rem;
        color: $color-red;
        margin-top: .4rem;
    }

    &__select {
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    &__label {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;

        display: block;
        margin-bottom: 1.8rem;
    }

    &__input {
        text-align-last: initial;
        text-align: center;
    }

    &__textarea {
        height: 12rem;
        resize: none;

        padding: 2.4rem 3rem;
        text-align-last: initial;
        text-align: left;
        line-height: 1.4;
    }

    &__radio-box {
        display: flex;
        align-items: center;
    }

    &__radio-btn {
        display: none;
    }

    &__radio-btn:checked + &__radio-label::after { opacity: 1; }

    &__radio-label {
        display: flex;
        align-items: center;
        font-size: 1.8rem;

        position: relative;
        margin-right: 2.4rem;
        cursor: pointer;

        &::before {
            content: '';
            width: 3.2rem;
            height: 3.2rem;

            border: 3px solid $color-blue-primary;
            border-radius: 50%;
            margin-right: .8rem;
        }

        &::after {
            content: '';

            width: 1.6rem;
            height: 1.6rem;
            background-color: $color-blue-primary;
            border-radius: 50%;

            position: absolute;
            top: 50%;
            left: 1rem;
            margin-top: -.8rem;
            margin-left: -.2rem;

            opacity: 0;
            transition: opacity .2s ease;
        }
    }

    &__date {
        text-align: center;

        &:focus::placeholder {
            color: transparent;
        }
    }

    &__submit-btn {
        display: inline-block;

        padding: 1.2rem 6rem;

        border: none;
        border-radius: 5px;
        background-color: $color-blue-primary;

        font-family: inherit;
        font-size: 2rem;
        color: #fff;

        transition: background-color .2s ease;
        cursor: pointer;

        &:hover {
            background-color: darken($color-blue-primary, 5%);
        }

        &[disabled] {
            background-color: $color-blue-dark;
            cursor: not-allowed;
        }
    }
}
